<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :bidder %><br />
    <%= f.text_field :bidder, :size  => 15 %>
  </div>
  <div class="field">
    <%= f.label :offer %><br />
    $<%= f.text_field :offer, :size  => 9%>
  </div>
  <div class="actions field">
    <br /><%= f.submit "Bid" %>
  </div>
<% end %>
