<tr>
  <td><%= item.name %></td>
  <td class="currency"><%= item.suggested_offer %></td>
  <td><%= item.bidder %></td>
  <td><%= item.offer %></td>
  <td><%= render :partial => "bid_form", :locals  => {:item  => item} unless item.offer %></td>
  <td><%= link_to('Destroy', item, :method => :delete) if authorized? %></td>
</tr>