<tr>
  <td><%= image_tag item.pic.url(:thumb) %></td>
  <td><%= item.name %></td>
  <td class="currency"><%= number_to_currency item.suggested_offer %></td>
  <td><%= item.bidder %></td>
  <td class="currency"><%= number_to_currency item.offer %></td>
  <td nowrap width="250"><%= render :partial => "bid_form", :locals  => {:item  => item} unless item.offer %></td>
  <td class="currency"><%= link_to('X', item, :method => :delete) if authorized? %></td>
</tr>