<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Suggested offer:</b>
  <%= @item.suggested_offer %>
</p>

<p>
  <b>Bidder:</b>
  <%= @item.bidder %>
</p>

<p>
  <b>Offer:</b>
  <%= @item.offer %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
