<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>SellMyStuff</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag "/javascripts/application.js" %> 
  <%= javascript_include_tag "http://gettopup.com/releases/latest/top_up-min.js"%>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container_16">
  <%= yield %>
  </div>
</body>
</html>
